@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css'; /*.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  background: linear-gradient(to left, #8942a8, #ba382f);
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  // ❗️❗️❗️ The path to images from a SASS file
  // is always the same as from the css folder.
  background-image: url('../images/logo.png');
  background-size: cover;
  background-position: center;
}*/
body {
  background: linear-gradient(to left, #c589df, #ea9c96, #a74bce);
  font-family: "Raleway", sans-serif;
}

.animation-decor {
  position: absolute;
  background: url(../images/2472970.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.animation-name {
  text-align: center;
  color: rgb(232, 11, 229);
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(233, 141, 195), 0 0 0.2em rgb(23, 3, 20);
  font-size: 60px;
  margin-top: 200px;
}

.box-area {
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.animation-item {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-animation: animate 20s linear infinite;
          animation: animate 20s linear infinite;
  bottom: -110px;
}

.animation-item:first-child {
  left: 86%;
  width: 80px;
  height: 80px;
}

.animation-item:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.animation-item:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}

.animation-item:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}

.animation-item:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.animation-item:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

@-webkit-keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}
.search-form {
  margin-top: 20px;
  align-items: center;
  display: flex;
  padding-left: 580px;
  margin-right: 20px;
}

.load-more {
  margin-top: 10px;
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

button {
  background-color: #f3afe2;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  box-shadow: 3 10px 6px 1px rgba(12, 11, 11, 0.3);
}

input {
  border-radius: 5px;
  height: 40px;
  width: 300px;
  box-shadow: 3 10px 6px 1px rgba(12, 11, 11, 0.3);
}

.gallery {
  position: relative;
  top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.img-item {
  display: block;
  width: 360px;
  height: 240px;
  box-shadow: 3 10px 6px 1px rgba(12, 11, 11, 0.3);
}

.info {
  display: flex;
  justify-content: space-evenly;
  border-radius: 0 0 5px 5px;
  flex-wrap: nowrap;
  text-decoration: none;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.is-hidden {
  visibility: hidden;
}/*# sourceMappingURL=index.css.map */